.form-content
{
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(178, 214, 245);
    padding: 5% 5% 5% 5% ;

}
div{
    padding: 5px;
}