
    

<div class="container" fxLayoutAlign="center center" fxFlexFill >
   
    <mat-card fxFlex="45">
        <mat-toolbar class="toolbar">
            <span>Mise à jour</span>
          </mat-toolbar>
          
            <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong >Success: </strong>
                <span>menu updated</span>
                <button (click)="removeMessage()" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
              </div>
          
        <form [formGroup]="menuForm" action="" class="form-content" (ngSubmit)="updateMenu()" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <input matInput id="libelle" type="text" formControlName="libelle" placeholder="libelle" >
                <span class="text-danger" *ngIf="libelle  && libelle.invalid && libelle.touched">libelle is required</span>

            </mat-form-field>

            <mat-form-field>
                <input matInput id="code" type="text" formControlName="code" placeholder="code" >
                <span class="text-danger" *ngIf="code && code.invalid && code.touched">libelle is required</span>

            </mat-form-field>

            <mat-form-field>
                <input matInput id="icon" type="text" formControlName="icon" placeholder="icon" required >
                <span class="text-danger" *ngIf="icon && icon.invalid && icon.touched "> icon is required</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput id="route" type="text" formControlName="route" placeholder="route" required>
                <span class="text-danger" *ngIf="r && r.invalid && r.touched">route is required</span>

            </mat-form-field>

            <mat-form-field>
                <mat-label>Profil</mat-label>
                <mat-select id="profil" type="number" formControlName="profilId" placeholder="profilId" required>
                  <mat-option *ngFor="let profil of profils" [value]="profil.id">
                    {{profil.nom}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
           
              <mat-form-field>
                <mat-label>Priorite</mat-label>
                <mat-select id="priorite" type="number" formControlName="priorite" placeholder="priorite" required>
                  <mat-option *ngFor="let priorite of priorites" [value]="priorite">
                    {{priorite}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Parent</mat-label>
                <mat-select id="parentId" type="number" formControlName="parentId" placeholder="parentId" required>
                  <mat-option *ngFor="let menu of menus" [value]=menu.id>
                    {{menu.id}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
                <button [disabled]="menuForm.invalid"class="mat-button" mat-raised-button  type="submit" >Submit</button>
        </form>
    </mat-card>
</div>